<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arcade Machine</title>
    <link rel="stylesheet" href="normalize.css">
    <base href="/">
  </head>
  <body>
    <demo-app></demo-app>
  </body>
</html>
